body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.tile {
    background-color: blue;
}

.colour {
    background-color: black;
}